<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>

  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="p-12 bg-gray-100">
  <h1 id="title" class="text-4xl text-center font-bold mb-6">Choose the Book</h1>
  <div id="books" class="grid grid-cols-6 gap-2 mx-60"></div>

</body>

</html>
